Repository microsoft/botbuilder-tools, pull requests merged in 2019-04, with the labels that each got.

#790 [ludown] Fix collision with entities that has 'simple' in their names
  packages/Ludown/lib/helpers.js
  packages/Ludown/test/ludown.helpers.test.suite.js
Labels: ludown-cli

#1088 minor typo fix
  packages/LUIS/bin/luis.js
Labels: 4.4, P1, luis-cli

#1083 add export and creation of LUIS endpointKeys
  packages/LUIS/bin/luis.js
  packages/LUIS/createEndpoints.cmd
  packages/LUIS/createLuisEndpoints.cmd
  packages/lubuild/src/IBuildArgs.ts
  packages/lubuild/src/help.ts
  packages/lubuild/src/index.ts
  packages/lubuild/src/utils.ts
  packages/lubuild/typings/lib/IBuildArgs.d.ts
  packages/lubuild/typings/lib/utils.d.ts
Labels: Adaptive, luis-cli

#1079 MSLG tool package
  .gitignore
  packages/MSLG/README.MD
  packages/MSLG/bin/mslg
  packages/MSLG/examples/exceptionExamples/ConditionFormatError.lg
  packages/MSLG/examples/exceptionExamples/EmptyLGFile.lg
  packages/MSLG/examples/exceptionExamples/EmptyLGFile.lg_mslg.lg
  packages/MSLG/examples/exceptionExamples/EmptyTemplate.lg
  packages/MSLG/examples/exceptionExamples/ErrorEscapeCharacter.lg
  packages/MSLG/examples/exceptionExamples/ErrorSeperateChar.lg
  packages/MSLG/examples/exceptionExamples/ErrorSeperateChar2.lg
  packages/MSLG/examples/exceptionExamples/ErrorTemplateParameters.lg
  packages/MSLG/examples/exceptionExamples/InvalidTemplateName.lg
  packages/MSLG/examples/exceptionExamples/InvalidTemplateName2.lg
  packages/MSLG/examples/exceptionExamples/MultiLineVariation.lg
  packages/MSLG/examples/exceptionExamples/NoMatchRule.lg
  packages/MSLG/examples/exceptionExamples/NoNormalTemplateBody.lg
  packages/MSLG/examples/exceptionExamples/NoTemplateRef.lg
  packages/MSLG/examples/exceptionExamples/OnlyNoMatchRule.lg
  packages/MSLG/examples/exceptionExamples/TemplateParamsNotMatchArgsNum.lg
  packages/MSLG/examples/samples.md
  packages/MSLG/examples/validExamples/simple.lg
  packages/MSLG/examples/validExamples/simple2.lg
  packages/MSLG/examples/validExamples/simpleWithVariables.lg
  packages/MSLG/examples/validExamples/subValidExamples/subSimple.lg
  packages/MSLG/examples/validExamples/variables.json
  packages/MSLG/package-lock.json
  packages/MSLG/package.json
  packages/MSLG/src/Expander.ts
  packages/MSLG/src/Parser.ts
  packages/MSLG/src/helpers.ts
  packages/MSLG/src/mslg-expand.ts
  packages/MSLG/src/mslg-parse.ts
  packages/MSLG/src/mslg.ts
  packages/MSLG/test/mslg.cli.test.suite.js
  packages/MSLG/tsconfig.json
Labels: blocked
