Repository microsoft/botbuilder-tools, pull requests merged in 2019-02, with the labels that each got.

#597 Add test runner and tests for LUIS 'add' & 'get' verb
  packages/LUIS/test/luis.cli.specs.suite.js
  packages/LUIS/test/luis.cli.specs.suite/with-add-verb.spec.json
  packages/LUIS/test/luis.cli.specs.suite/with-get-verb.spec.json
  packages/LUIS/test/testRunner.js
Labels: 4.3, Triaged, luis-cli

#910 Update dispatch requirement argument
  packages/MSBot/docs/update-service.md
Labels: msbot-cli

#922 Adding entityName and entityType for clone operation.
  packages/LUIS/bin/operations.json
Labels: luis-cli

#935 [msbot] add searchSku to options
  packages/MSBot/package-lock.json
  packages/MSBot/src/msbot-clone-services.ts
  packages/MSBot/src/msbot-create.ts
Labels: DCR, msbot-cli
